.hotel-card{
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.hotel-card p{
    margin-bottom:0;
    color: #525252; 
}

p span{
    text-transform: capitalize;
    font-size: larger;
    font-weight: 700;
    color: black;
}